@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #2E8BC0;
    --secondary-color: #0c5fa3;
    --accent-color: #B1D4E0;
    --bg-color: rgb(52, 46, 55);
    --text-color: ghostwhite;
    --border-radius: 10px;
    --transition: all 0.3s ease-in-out;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

input, select {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 16px;
    width: 100%;
    transition: var(--transition);
}

input:focus, select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0px 0px 8px var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.subsection {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.information-section{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 3vw;
}

.information-section::-webkit-scrollbar{
    display: none;
}

.cv-page{
    margin-right: 5vw;
}

.footer {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-color);
    margin-top: 30px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.app-heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
    letter-spacing: 2px;
    color: var(--accent-color);
}

.result-heading,
.info-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--accent-color);
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
}